FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=RandomString
MONGODB2_URI=mongodb+srv://alpha:camp@cluster0.n6ecgan.mongodb.net/resto-list?retryWrites=true&w=majority
PORT=3000